@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

a {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(187, 187, 187);
}

body {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding: 5%;
    height: 100%;
    background-color: blueviolet;
}

#content {
    border: 20px;
    display: block;
    padding-bottom: 18.5%;
    width: 95%;
    height: 95%;
    background-color: aqua;
}

.textos {
    margin-top: 1.5em;
    margin-bottom: .2em;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

h1 {
    color: rgb(231, 231, 231);
    border-radius: 16px;
    font-family: 'Anton', Arial, sans-serif;
    font-stretch: expanded;
}

.doisPontos {
    font-size: 50px;
    display: inline;
}

.tempo {
    display: inline;
    font-size: 75px;
    padding: 15px;
    margin-bottom: 20px;
    margin: 20px;
    box-shadow: 3px;
    border-color: antiquewhite;
}

p {
    padding-bottom: 1.5em;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(187, 187, 187);
}

#naoTemId {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    html, body {
        height: 100%;
    }
    
    a {
        font-size: 18px;
    }

    body {
        display: flex;
        align-self: center;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #content {
        border: 15px;
        position: relative;
        /* height: 100%; */
        padding-top: 45%;
        padding-bottom: 45%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #claro {
        font-size: 28px;
    }

    .textos {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 22px;
    }

    h1 {
        color: rgb(231, 231, 231);
        border-radius: 10px;
        font-family: 'Anton', Arial, sans-serif;
        font-size: 30px;
    }

    .tempo {
        display: inline;
        font-size: 42px;
        padding: 15px;
        margin-bottom: 2em;
        margin: 10px;
        box-shadow: 3px;
        border-color: antiquewhite;
    }
} 