@import url('https://fonts.googleapis.com/css2?family=Anton&family=Borel&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --tempo: rgb(30, 30, 30);
    --texto: rgb(187, 187, 187);
    --content: rgb(41, 41, 41);
    --body: rgb(20, 20, 20);

    /* --tempo: rgba(30, 30, 30, 0.25);
    --texto: rgb(61, 61, 61);
    --content: rgb(138, 138, 138);
    --body: rgb(227, 214, 196); */
}

h2 {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(187, 187, 187);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 0;
    height: 100%;
    background-color: var(--body);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    color: var(--content);
}

.textos {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 75px;
    width: 100%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: var(--texto);
    border-color: rgba(0, 0, 0, 0);
}

h1 {
    color: rgb(24, 24, 24);
    border-radius: 16px;
    font-family: 'Anton', Arial, sans-serif;
    font-stretch: expanded;
}

.doisPontos {
    font-size: 50px;
    display: inline;
}

.tempo {
    display: inline-flex;
    font-size: 45px;
    padding: 15px;
    height: 75px;
    width: 75px;
    margin: 20px;
    box-shadow: 3px;
    border-color: antiquewhite;
    background-color: var(--tempo);
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-family: "Orbitron";
}

p {
    padding-bottom: 1.5em;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(187, 187, 187);
}

#naoTemId {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    align-content: center;
}

@media (max-width: 576px) {
    html, body {
        height: 100%;
    }

    body {
        display: flex;
        align-self: center;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .textos {
        height: 60px;
    }

    h1 {
        color: rgb(231, 231, 231);
        border-radius: 10px;
        font-family: 'Anton', Arial, sans-serif;
        font-size: 30px;
    }

    .tempo {
        height: 50px;
        width: 50px;
        font-size: 30px;
        margin: 12px;
    }

    .doisPontos {
        font-size: 30px;
    }
} 

@media (max-width: 374px) {
    
    .textos {
        height: 50px;
    }

    .tempo {
        height: 35px;
        width: 35px;
        font-size: 25px;
        margin: 8px;
    }
}